html {
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: black;
}

.bg {
    margin: 0 auto;
}

.top {
    position: fixed;
    width: 50%;
}

.gif {
    position: fixed;
    width: 50%;
    margin: 0 auto;
}

.topreplace {
    position: fixed;
    width: 50%;
}

a {
    position: fixed;
    top: 85%;
    left: 35%;
}

